.cartitem__detail{
    display: flex;
    flex-direction: column;   
}
.cart__item{
    display: flex;
    justify-content: space-between;
    gap:5rem;
}
.left__cart{
    display: flex;
    gap:3rem;
}
.cart__img{
    height: 180px;
}
.cartitem__title{
    display: flex;
    flex-direction: column;
}
.cartitem__footer{
    margin-right: 500px;
    display: flex;
}
.btn__item{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin-top: 30px;

}
.plusbtn{
    border: 1px solid saddlebrown;
    background-color: rgb(20, 94, 159);
    width: 50px;
    
}
.plusbtn:hover{
    background-color: aliceblue;
}
.minusbtn{
    border: 1px solid saddlebrown;
    background-color: rgb(20, 94, 159);
    width: 50px;
}
.minusbtn:hover{
    background-color: aliceblue;
}
.right__btn{
    background-color: yellow;
    width: 250px;
}
.right__cart{
    background-color: #ffffff;
    margin-bottom: 260px;
    gap:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
    border-radius: 20px;
    /* margin-right: 20px; */
    
}
