.subtotal{
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: rgb(243, 243, 243);
    height: 40vh;
    width: 30vw;
    align-items: center;
    justify-content: center;
    gap:1rem;
    border-radius: 20px;
}
.subtotal__btn{
    background-color: rgb(154, 178, 106);
    width: 250px;
}
@media only screen and (min-width:500px) and (max-width: 1500px) {
    .subtotal__btn{
        width: 80%;
        
    }
}