.corousel__img1{
    height: 40vh;
}
.corousel__img2{
    height: 40vh;
}
.corousel__img{
    height: 40vh;
}
@media only screen and (max-width: 1000px) {
    .prev{
        margin-top: 150px;
    }
    .next{
        margin-top: 150px;
    }
  }
  @media only screen and (max-width: 700px) {
    .carousel{
        margin-left: 20px;
    }
}
  @media only screen and (max-width: 600px) {
    .carousel{
        margin-left: 30px;
    }
}
  @media only screen and (max-width: 900px) {
    .carousel{
       width: 110vw;
    }
}